<div class="row">
  <div class="small-7 columns">
    <%= render partial: "user_details" %>
  </div>
</div>

<% if current_user.role?(:admin) %>
	<!-- Add buttons to list all, edit project or destroy object -->
	<%= render partial: "partials/object_options", locals: {model_name: "user", object: @user}  %>

  <%= link_to(eval("edit_user_path"), class: 'button radius') do %>
    <!-- <i class="fa fa-pencil"></i> -->
    &nbsp;Edit
  <% end %>
<% else %>
  <%= link_to(eval("home_path"), class: 'button radius') do %>
    <!-- <i class="fa fa-pencil"></i> -->
    &nbsp;Back to Tasks
  <% end %>
<% end %>

