<h2><center>Company Dashboard</center></h2>

 <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>Todays Total Donation Amount</div>
      <div class="collapsible-body"><p><b>$1.88</b></p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi-maps-place"></i>Total Number Of Customers Who Donated</div>
      <div class="collapsible-body"><p>3 Users</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi-maps-place"></i>Customer who donated the most</div>
      <div class="collapsible-body"><p>User: 5000600001</p></div>
      <div class="collapsible-body"><p>Donated: $0.75</p></div>
    </li>
  </ul>