<h2>Welcome To <b><em>Change</em></b></h2>
<br />

<p>If your establishment already has an account, please log in. If not, feel free to 
create a new account </p>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<div class="slider grey">
    <ul class="slides">
      <li>
        <img src="http://footage.framepool.com/shotimg/qf/982588520-falling-money-coin-money-surface-euro.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="http://s3.amazonaws.com/digitaltrends-uploads-prod/2014/03/Powered-By-Android-HTC-One.jpg">
      </li>
    </ul>
  </div>
  <br>
  <!-- Modal Trigger -->
  <div class="mode">
	  <a class="waves-effect waves-red btn modal-trigger brown" href="#modal1">How Does It Work?</a>

	  <a class="waves-effect waves-red btn modal-trigger brown" href="#modal2">Why Choose Us?</a>

	  <a class="waves-effect waves-red btn modal-trigger brown" href="#modal3">Find Out More!</a>
  </div>

    <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4><em>Ruby On Rails and Android/IOS<em></h4>
      <img src="http://www.devbattles.com/images/upload/rubyrails.png">
      <img src="http://static.giantbomb.com/uploads/original/15/157771/2312719-a6.jpg">
      <center><img src="https://www.arxan.com/wp-content/uploads/assets1/images/ios-logo.jpg"></center>
    </div>
    <div class="modal-footer">
      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Close</a>
    </div>
  </div>

  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4><em>Because we are awesome<em></h4>
      <img src="http://media.jarty.net/wp-content/uploads/2015/05/Money-saving.jpeg">
    </div>
    <div class="modal-footer">
      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Close</a>
    </div>
  </div>
  
  <div id="modal3" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4><em>Follow Us On...<em></h4>
      <i class="fa fa-facebook-square fa-5x"></i>&nbsp;Facebook<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-twitter fa-5x"></i>&nbsp;Twitter<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-whatsapp fa-5x"></i>&nbsp;Whatsapp
    </div>
    <div class="modal-footer">
      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Close</a>
    </div>
  </div>
</div>


