<div class="row">
  <div class="small-7 columns">
    <h3><em>About Us</em></h3>

<p> We know how much you love baked goods and how they bright up your day.
    That is why we bring to you fresh breads, muffins and pastries directly
    to your door. Once you go Bread Express, you won't be going back. Try us
    out and we promise that you won't be dissapointed. Browse our selection of
    the best pastries Pittsburgh has to offer. BreadExpress, the sweetness
    you need in your life!
</p>

<div class="card large">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://www.panerabread.com/content/dam/panerabread/article/details/panera-cares-community-cafes-the-spirit-of-giving-lg.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">The Sweetness You Need In Your Life<i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="#">Bread Express</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><b>Our Passion</b> <i class="mdi-navigation-close right"></i></span>
          <p>Whether it be breads ranging from italian rolls to french swirls or the mouth watering muffins and pastries, When it comes to baking, our chefs are dedicated to the highest standards of quality to deliver fresh baked items daily. Our professional bakers and confectioners are skilled in the art of baking and decorating and bring you the most exquisite treats to match every occasion whether it is a wedding or a birthday.</p>
          <span class="card-title grey-text text-darken-4"><b>Our Goal</b> <i class="mdi-navigation-close right"></i></span>
          <p>We want to take Bread Express to its pinnacle heights and want to provide you with the best bread and pastry experience that you will ever have. We are dedicated in satisfying your sweet needs and we can ensure you that you won't go home disspointed. Try us out for yourself and feel free to contact us for any other information.</p>
          <span class="card-title grey-text text-darken-4"><b>Our Vision</b> <i class="mdi-navigation-close right"></i></span>
          <p>We are already working to make Bread Express the number one bakery in all of Pittsburgh and we hope that you can help us on our journey and make our dream come true. Sign up for our weekly newsletter to find out about our new and upcoming products and stay in touch by following us on twitter and facebook. </p>
        </div>
      </div>
  </div>
</div>