<div class="row">
  <div class="small-7 columns">
    <h3><em>About Us</em></h3>

<p> We know how much you hate loose change and how much of a waste of space they are.
    That is why we developed Change For Change, an app to make change much more useful.
    Using our app, you can directly have your change transferred to your bank account or 
    to a charity of your choice. Once you use Change For Change, you won't be going back. Try us
    out and we promise that you won't be dissapointed. Browse our website and get ready for 
    the best change of your life. <b>Change For Change, the only change that you need in your
    life!</b>
</p>

<div class="card large">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="http://www.usnews.com/dims4/USNEWS/e07d300/2147483647/resize/652x%3E/quality/85/?url=%2Fcmsmedia%2F67%2Fb9%2F766c4af84a54b42663a1d3136f79%2F150218-groceryshoppingphone-stock.jpg">
  </div>
  <div class="card-content">
    <span class="card-title activator grhey-text text-darken-4">The Sweetness You Need In Your Life<i class="mdi-navigation-more-vert right"></i></span>
    <p><a href="#">Change For Change</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><b>Our Passion</b> <i class="mdi-navigation-close right"></i></span>
    <p>We are a team of individuals who are very passionate about technology and its widespread use in different applications. We are always looking for new technologies and a way to make a revolutionary impact in peoples lives. Technology is constantly evolving and making our life easier day by day. And with this, we present to you, Change For Change.</p>
    <span class="card-title grey-text text-darken-4"><b>Our Goal</b> <i class="mdi-navigation-close right"></i></span>
    <p>We want to take this idea to its pinnacle heights and want to provide you with the most effective and efficient technological experience that you will ever have. We are dedicated in satisfying your  needs and we can ensure you that you won't go home disspointed. Try us out for yourself and feel free to contact us for any other information.</p>
    <span class="card-title grey-text text-darken-4"><b>Our Vision</b> <i class="mdi-navigation-close right"></i></span>
    <p>We are already working to make Change For Change the number one app in all of the United States and we hope that you can help us on our journey and make our dream come true. Sign up for our weekly newsletter to find out about our new and upcoming products and stay in touch by following us on twitter and facebook. </p>
  </div>
</div>
