<h3><em>Contact Us</em></h3>

<div class="contact">
	<p>Change For Change is an App developed by
	Kunal Sinha, Arnin Jain, Parth Patel and Brantley Gilbert. For any inquiries about the app or our business, you can refer to the contact
	information below:</p>

	<div class="row">
		<div class="col s6">
			<img src="https://sadderbutwiser.files.wordpress.com/2012/09/harry-potter-and-the-french-bread.jpg"> <!-- random image -->
		</div>
		<div class="col s6">
			<table class="hoverable">
				<tr>
					<td>Webmaster:&nbsp;</td>
					<td>Kunal Sinha</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td>
					<%= mail_to("kunalsin@cmu.edu", "Rollin' in that Change*", encode: "javascript") %> 
					</td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td>732-439-4987</td>
				</tr>
			</table>

			<p class="note"><br>*Developed during Capital One Summit For Engineers</p>
		</div>
	</div>
</div>
