<h3><em>Contact Us</em></h3>

<div class="contact">
	<p>Bread Express is a start up founded by
	two rising entrepenuers. For any inquiries about the company or our business, you can refer to the contact
	information below:</p>

	<div class="row">
		<div class="col s6">
			<img src="https://sadderbutwiser.files.wordpress.com/2012/09/harry-potter-and-the-french-bread.jpg"> <!-- random image -->
		</div>
		<div class="col s6">
			<table class="hoverable">
				<tr>
					<td>Webmaster:&nbsp;</td>
					<td>Kunal Sinha</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td>
					<%= mail_to("kunalsin@cmu.edu", "Tom Marvolo Riddle*", encode: "javascript") %> 
					</td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td>412-268-8211</td>
				</tr>
			</table>

			<p class="note"><br>*I am..the one who must not be named..</p>
		</div>
	</div>
</div>
