<div class="row">
  <div class="small-7 columns">
    <%= render partial: "customer_details" %>
  </div>
</div>

<% if current_user.role?(:admin) %>
	<!-- Add buttons to list all, edit project or destroy object -->
	<%= render partial: "partials/object_options", locals: {model_name: "customer", object: @customer}  %>
<% else %>
      <%= link_to(eval("edit_customer_path"), class: 'button radius') do %>
        <!-- <i class="fa fa-pencil"></i> -->
        &nbsp;Edit
      <% end %>
<% end %>

